<div class="add-div">
    <h1>Add Post</h1>

    <form class="add-form" method="post" action="/add">
        <label class="add-label">Title*</label>
        <input type="text" class="add-input" name="title" required>
        <label class="add-label">Content*</label>
        <textarea name="content" id="content" rows="20" class="textarea" required></textarea>
        <label class="add-label">Author*</label>
        <input name="author" type="text" class="add-input" required>

        <input type="submit" value="Add" class="add-submit" id="add-btn">
    </form>
</div>